body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

header{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*  Menu Bienvenida */

.inicio{
    height: 100vh;
    background: linear-gradient(90deg, 
                                rgba(0,0,0,0.5),
                                rgba(0,0,0,0.5)),
                                url('../assets/images/codigo_html.jpg');
    
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
}

.icono img{
    margin: 25px auto;
    width: 150px;
    height: 65px;
    display: flex;
    backdrop-filter: blur(3px);
    border-radius: 15px;
}

header nav{
    padding: 10px;
    display: flex;
    flex-direction: column;

    backdrop-filter: blur(8px);
    border-radius: 15px;
}

header nav a{
    margin: 10px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 100;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    cursor: pointer;
}

.comprarTickets{
    color: rgb(255, 211, 0);
}

/*  Section Bienvenida  */

main{
    display: flex;
    align-items: center;
    height: 40%;
}

main section{
    margin: auto;
    width: 90%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(3px);
    border-radius: 15px;
}

main section h1{
    font-weight: 700;
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main section div{
    text-align: center;
}

main section h2{
    margin: 0px;
    display: block;
    font: lighter;
    font-size: large;
    font-weight: 100;
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main section .titleColor{
    color: rgb(255, 211, 0);;
}

main section p{
    text-align: center;
    font-weight: 100;
    font-size: 1.1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/*  Contenidos del Programa */

.contenidosPrograma {
    width: 100vw;
    height: 100vh;
    margin: 20px auto;
    padding: 0 10px;
    max-width: 95vw;
    text-align: center;
    align-items: center;

    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenidosPrograma h2 h3{
    font-weight: bold;
}

.contenidosPrograma h2{
    font-size: 1.3rem;
}

.contenidosPrograma h3{
    text-align: left;
    font-size: 1.1rem;
}

.contenidosPrograma ul{
    text-align: left;
    list-style-type: square;
}

.contenidosPrograma ul li{
    max-width: 80vw;
    font-size: 1rem;
}

.contenidosPrograma p{
    font-size: 1rem;
}



/*  Modalidad y Requisitos  */

.modalidadRequisitos{
    display: flex;
    flex-direction: column;
    height: 200vh;
    background-color: rgb(29, 28, 26);
    text-align: center;
}

    .card{
    width: 80vw;
    height: 90vh;
    margin: 10px auto;
    padding: 5px;
    background-color: aliceblue;
}

.modalidadRequisitos h2{
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(255, 211, 0);;
}

.modalidadRequisitos img{
    width: 80%;
}

.modalidadRequisitos ul{
    margin: 0;
    padding: 2px;;
    text-align: left;
    list-style-type: none;
}

.modalidadRequisitos li{
    margin: 15px;
    font-size: 1rem;
}



/*  Inscripciones   */


.inscripciones{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
}

.inscripciones h2{
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 1.4rem;
}

.divInscripciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inscripciones p{
    text-align: center;
    font-size: 1.05rem;
}

.inscripciones div{
    height: 50vh;
    padding: 10px;
}

.divFormulario{
    background-color: rgb(255, 211, 0);;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divFormulario form{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divFormulario input, button{
    margin: 1%;
    width: 90%;
    height: 6vh;
    border: 1px solid;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.btnEnviar{
    background-color: black;
    color: whitesmoke;
    border-color: black;
}



/*  Entrega de Diplomas*/

.diplomas{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divImgDiplomas , .divTextDiplomas{ 
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divImgDiplomas img{
    width: 70%;
    height: 90%;
}

.divTextDiplomas h2{
    font-size: 1.4rem;
    font-weight: 700;
}

.divTextDiplomas p{
    font-size: 1.1rem;
    font-weight: 500;
}



/*  Footer  */

footer{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background: linear-gradient(90deg, 
                                rgba(0,0,0,0.5),
                                rgba(0,0,0,0.5)),
                                url('../assets/images/codigo_html.jpg');
    background-size: cover;
    background-position: center;
}

footer img{
    margin-top: 20px;
    width: 150px;
    height: 65px;
}

footer a{
    display: flex;
    flex-direction: column;
}

footer a img{
    width: 32px;
    height: 32px;
}


/*  Media Queries*/

@media (min-width: 767px) {

    /*  MenuBienvenida  */
    .inicio{
        justify-content: space-around;
    }

    header {
        height: 20vh;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .icono img{
        margin: 5px;
    }

    header nav{
        flex-direction: row;
    }

    main{
        height: 70vh;
    }

    main section{
        height: 80%;
    }

    main section h1{
        font-size: 1.8rem;
    }

    main section h2{
        font-size: 1.6rem;
    }

    main section p{
        font-size: 1.5rem;
    }



    /*  Contenidos Programa */
    .contenidosPrograma h2{
        font-size: 1.6rem;
    }

    .contenidosPrograma h3{
        font-size: 1.4rem;
    }

    .contenidosPrograma p{
        font-size: 1.2rem;
    }

    .contenidosPrograma ul li{
        font-size: 1.2rem;
    }


    /*  Modalidad   */

    .modalidadRequisitos{
        height: 100vh;
    }

    .titleCards{
        height: 10%;
    }

    .titleCards h2{
        font-size: 1.6rem;
    }

    .containerCards{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card{
        width: 45%;
        height: 95%;
    }

    .card img{
        width: 70%;
    }

    .card p{
        font-size: 1.2rem;
    }


    /*  Inscripciones   */
    .divInscripciones h2{        
        font-size: 1.6rem;
    }

    .divInscripciones p{
        font-size: 1.2rem;
    }

    /*  Entrega de Diplomas */

    .divImgDiplomas{
        width: 80%;
    }

    .divTextDiplomas h2{ 
        font-size: 1.6rem;
    }

    .divTextDiplomas p{
        font-size: 1.2rem;
    }

    @media(min-width:1023px){

        /*  MenuBienvenida  */

        header{
            flex-direction: row;
            justify-content: space-around;
        }

        header nav a{
            font-size: 1.1rem;
        }

        main section{
            width: 60%;
            justify-content: center;
        }

        main section h2{
            display: inline;
        }

        /*  Contenidos del Programa     */

        .contenidosPrograma{
            height: 80vh;
        }

        /*  ModalidadRequisitos*/

        .modalidadRequisitos{
            height: 130vh;
        }

        .card{
            width: 40%;
        }


        /*  Inscripciones   */

        .inscripciones{
            flex-direction: row;
            align-items: flex-start;
            height: 60vh;
        }

        .inscripciones div{
            width: 50%;
            height: 100%;
        }

        .divFormulario input, button{
            margin: 2%;
            height: 5vh;
            font-size: 1.1rem;
        }

        /*  Diplomas    */
        .diplomas{
            flex-direction: row;
            height: 80vh;
        }

        .divImgDiplomas, .divTextDiplomas{
            width: 50%;
            height: 100%;
        }

        .divImgDiplomas img{
            width: 90%;
            height: 80%;
        }

        .divTextDiplomas h2{
            font-size: 1.8rem;
        }

        .divTextDiplomas p{
            font-size: 1.4rem;
        }

        /*  footer  */

        footer{
            height: 30vh;
        }

        footer img{
            margin: 5px;
        }

        footer nav{
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    /*  Animaciones */

    button:hover{
        width: 93%;
        font-size: 130%;
    }

    a:hover{
        font-size: 130%;
    }
}